absl-py
accelerate
annotated-doc
annotated-types
antlr4-python3-runtime
anyio
argbind
asttokens
audioop-lts
audioread
bleach
blis
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
cloudpickle
colorama
colorlog
confection
contourpy
cycler
cymem
decorator
descript-audio-codec
descript-audiotools
docopt
docstring_parser
dora_search
easydict
einops
encodec
executing
ffmpy
filelock
fire
flashy
flatbuffers
flatten-dict
fonttools
fsspec
grpcio
h11
hf-xet
httpcore
httpx
huggingface_hub
hydra-colorlog
hydra-core
idna
ImageIO
importlib_resources
ipython
ipython_pygments_lexers
jedi
Jinja2
joblib
julius
kaggle
kagglehub
kagglesdk
kiwisolver
lazy_loader
librosa
llvmlite
Markdown
markdown-it-py
markdown2
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mediapipe
mpmath
msgpack
murmurhash
networkx
num2words
numba
numpy
omegaconf
opencv-contrib-python
opencv-python
opencv-python-headless
packaging
parso
pillow
platformdirs
pooch
preshed
prompt_toolkit
protobuf
psutil
pure_eval
pycparser
pydantic
pydantic_core
Pygments
pyloudnorm
pyparsing
pystoi
python-dateutil
python-slugify
PyYAML
randomname
regex
requests
retrying
rich
safetensors
scikit-image
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
six
smart_open
sounddevice
soundfile
soxr
spacy
spacy-legacy
spacy-loggers
srsly
stack-data
standard-aifc
standard-chunk
standard-sunau
submitit
sympy
tensorboard
tensorboard-data-server
termcolor
text-unidecode
thinc
threadpoolctl
tifffile
timm
tokenizers
torch
torch-stoi
torchaudio
torchvision
tqdm
traitlets
transformers
treetable
typer
typer-slim
typing-inspection
typing_extensions
urllib3
wasabi
wcwidth
weasel
webencodings
Werkzeug
wrapt
xformers
